#amogus {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    padding: 10px;
}
@font-face {
    font-family: sus;
    src: url(../font.ttf);
}
#header {
    font-family: sus;
    text-align: center;
    font-size: 25px;
}
main {
    position: absolute;
}
body {
    color: white;
    width: 98vw;
    position: absolute;
    background-color: #000022;
}
img {
    margin: 15px;
    height: 500px;
    flex: 1 1 auto;
    transition: all .5s ease-in-out;
    align-items: center;
    box-flex: 1;
    -webkit-flex: 1 1 calc(1% - 10px);
    max-width: 100%;
}
img:hover {
    transform: scale(1.1);
}
#obamium:hover {
    content: url("../content/obamium.jpg");
}
#obamium {
    content: url("../content/obama.jpg");
}
#footer {
    font-family: sus;
    text-align: center;
    font-size: 25px;
}
a:hover {
    text-decoration: dashed underline;
}
a {
    text-decoration: none;
    font-weight: bold;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
}
#counter {
    position: fixed;
    top: 1;
    left: 0;
    transform: rotate(-45deg);
}