#amogus {
    display: flexbox;
}
@font-face {
    font-family: sus;
    src: url(../font.ttf);
  }
#header {
    font-family: sus;
    text-align: center;
    font-size: 25px;
}

body {
    color: white;
    width: 100vw;
    height: 500vh;
    z-index: 99;
    position: absolute;
    background-color: #000022;
}
img {
    width: auto;
    height: 500px;
    flex: 1 1 calc(25% - 10px);
    transition: all .5s ease-in-out;
}
img:hover {
    transform: scale(1.1);
}
#obama:hover {
    content: url("../content/obamium.jpg");
}
#footer {
    font-family: sus;
    text-align: center;
    font-size: 25px;
}
a:hover {
    text-decoration: dashed underline;
}
a {
    text-decoration: none;
    font-weight: bold;
}